/* You can add global styles to this file, and also import other style files */
$gutter: 1rem; //for primeflex grid system

@import 'node_modules/primeflex/primeflex.scss';
@import './assets/flags/flags.css';

.layout-topbar-actions {
    padding-left: 60px;
}

.layout-wrapper.layout-static .layout-topbar-actions {padding-left:230px;}

.login-body .login-wrapper .login-panel > div > input, .login-body .login-wrapper .login-panel > input{
    margin-bottom: 2px;
}
.p-datatable .p-column-header-content {
    justify-content: center;
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
    text-align: center;
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td > div {
    justify-content: center;
}
.p-datatable .p-datatable-thead > tr > th {
    width: 14%;
    &:nth-child(1) {
        width: 5%;
    }
    &:nth-child(3) {
        width: 25%;
    }
    &:nth-child(6) {
        width: 25%;
    }
}

.custom-select-invalid span {
    max-width: 140px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


[aria-label="라이트블루" ],[aria-label="light blue" ] {
    background-color: #458AED !important ;
}

[aria-label="주황색" ],[aria-label="Orange" ] {
    background-color: #FF9067 !important ;
}

[aria-label="녹색" ],[aria-label="green" ] {
    background-color: #93C04F !important ;
}

[aria-label="다크오렌지" ],[aria-label="dark orange" ] {
    background-color: #FF6744 !important ;
}

[aria-label="라이트오렌지" ],[aria-label="light orange" ] {
    background-color: #FBBA7C !important ;
}

[aria-label="노란색" ],[aria-label="yellow" ] {
    background-color: #FDAA2E !important ;
}

[aria-label="회색" ],[aria-label="grey" ] {
    background-color: #A8A08D !important ;
}


.p-dialog .p-dialog-footer {
    border-top: 0 none;
    background: #ffffff;
    color: #69707A;
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: center;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}



.p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
    display: none !important;
}

.p-link:focus {
    outline: 0 none;
    outline-offset: 0;
     box-shadow: none;
}

body{
    &.p-overflow-hidden{
        overflow: auto !important;
    }
    
}
// .p-datepicker {
//     top: 50% !important;
//     transform: translate(0, -50%);
//         @media screen and (min-width: 1400px) { 
//             top: 70% !important;
//         }
       
//     }